/* universal */

:root{
    --light :#e17dff;
    --dark : #4b1182;
    font-family: Arial, Helvetica, sans-serif;

}
button{
    background-color: var(--dark);
    color:white;
    outline:none;
    border-radius: 10px;
    height: 75px;
    width: 200px;
    font-size: 25px;
}
button:hover{
    background-color: var(--light);

}
body {
    padding:0;
    margin:0;

    
}
/* dom button */

header {
    font-size : 25px;
    display: flex;
    margin:20px;
    justify-content: space-between;


}

section {
    display:flex;
    flex-wrap: wrap;
}


.center{
    display:flex;
    justify-content: center;
}
/* high score page */
.highscore{
    display:flex;
    justify-content: center;
    font-size: 30px;
}
.highscore h1{
    margin: 150px 535px 20px 0;
}
.highscore-form{
    display:flex;
justify-content: center;
}
.highscore-form{
    display:flex;
justify-content: center;
}
.highscore-form div{
    background-color: var(--dark);
    opacity: 25%;
    width: 800px;
    height: 50px;
    font-size: 30px;
    outline: none;

}
.highscore-button{
    display:flex;
    justify-content: center;
    margin-right: 475px;



}
.btnscore{
    margin-right: 100px;
}

.highscore-button button{
    height:50px;
    border-radius: 10px;
    margin:20px 5px ;
    font-size:25px;


}
/* high score pages */


header a {

color :var(--light);
text-decoration:none;
}
#question{
    margin-top:0 ;
}

header p{
    margin:0;
}
.initial-text {
    font-size: 30px;
    margin-top: 100px;

}
.initial-text p {
margin:0 300px 20px 300px;
font-size: 40px
}
.start-btn{
    height: 50px;
    width: 150px;
    font-size:25px;
}

.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .btnstyle{
 margin-right: 800px;
 margin-bottom: 20px;
 width:300px;
 display:flex;
 justify-content:start;
 font-size:40px
    }
/* regular letters are too big to fit in the buttons so we need to create
smaller fonts for certain buttons.
 */
 .smallerFont{
    margin-right: 800px;
    margin-bottom: 20px;
    width:300px;
    display:flex;
    justify-content:start;
    font-size:32px
 }